*.suo
*.user
*.Cache
/src/System.Web.StaticOptimization.Mvc/bin
/src/System.Web.StaticOptimization.Mvc/obj
/src/System.Web.StaticOptimization/bin
/src/System.Web.StaticOptimization/obj
/src/System.Web.StaticOptimization.Build/bin
/src/System.Web.StaticOptimization.Build/obj
bin
obj
/demo/System.Web.StaticOptimization.Samples/SimpleMvcWebsite/obj
/demo/System.Web.StaticOptimization.Samples/SimpleMvcWebsite/App_Data/*.mdf
/demo/System.Web.StaticOptimization.Samples/SimpleMvcWebsite/App_Data/*.ldf
/demo/System.Web.StaticOptimization.Samples/SimpleMvcWebsite/bundles
/demo/System.Web.StaticOptimization.Samples/SimpleMvcWebsite/Content/css.css
