<?xml version="1.0" encoding="utf-8"?>
<WebGrease>
  <JsFileSet name="~/bundles/vendor.js">
    <Input>~/Scripts/jquery-1.9.1.js</Input>
    <Input>~/Scripts/bootstrap.js</Input>
    <Input>~/Scripts/knockout-2.3.0.js</Input>
  </JsFileSet>
  <CssFileSet name="~/Content/css.css">
    <Input>~/Content/ie10mobile.css</Input>
    <Input>~/Content/bootstrap.css</Input>
    <Input>~/Content/bootstrap-responsive.css</Input>
    <Input>~/Content/font-awesome.css</Input>
    <Input>~/Content/durandal.css</Input>
    <Input>~/Content/starterkit.css</Input>
  </CssFileSet>
</WebGrease>
